* {
  box-sizing: border-box;
}
body {
  padding: 1rem;
}

/* Just for the fallback layout */
.container {
  max-width: 800px;
  margin: 0 auto;
}
.main {
  max-width: 800px;
  margin: 0 auto;
}
.gif {
  margin: 1rem 0;
}

/* Now lets do a Grid-based layout */

@supports (display: grid) {
  .container{

  }
  .main {
    max-width: 10000px;
    margin: 0;
  }
  .gif {
    margin: 0;
  }
  .container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 150px 1fr 250px;
    grid-template-rows: 30px 90px auto 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
      "headerL headerM headerR "
      "searchL searchM searchR "
      "containerL containerM containerR"
      "footerL footerM footerR ";
    background-color: #fff;
    font-family: "Catamaran", sans-serif;
    max-width: 100vw;
  }
  .main {
    grid-area:containerM;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
}

.gallery {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%;
}
.gif {
  display: flex;
  flex-flow: column;

  border-radius: 3rem;
  padding: 2rem;
  justify-content: center;
}
.gif > h1 {
  margin: 1rem 1rem 0;
}

.gif > p {
  margin: 0.25em 1rem 1rem;
}
.gif > img {
  order: -1;
  align-self: center;
  max-height: 250px;
  max-width: 250px;
  border-radius: 3px;
}
.Title{
  grid-area: searchM;
  align-self: center
}
.button{
  grid-area: searchR;
  background-image: linear-gradient(to right,#ff9966,#ff5c5c);
  color: white;
  text-transform: uppercase;
  border: 1px solid #e4e9ee;
  border-radius: 3px;
  height: 50px;
  width: 25%;
  padding: 3px;
  cursor: pointer;
  font-weight: 600;
}

/* .button{
background-image: -webkit-gradient(linear,right top,left top,from(#24aef2),to(#f224f2));
    background-image: linear-gradient(to left,#24aef2,#f224f2);
    background-size: 150% 150%;
    -webkit-animation: bannerBackground 5s ease infinite;
    animation: bannerBackground 5s ease infinite;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 10px 40px 10px 20px;
    font-size: 14px;
    color: #fff;
    min-height: var(--hello-bar-height);
    border-bottom: 1px solid rgba(255,255,255,.7);
} */