* {
  box-sizing: border-box;
}
body {
  padding: 1rem;
}

/* Just for the fallback layout */

.main {
  max-width: 800px;
  margin: 0 auto;
}
.gif {
  margin: 1rem 0;
}

/* Now lets do a Grid-based layout */

@supports (display: grid) {
  .main {
    max-width: 10000px;
    margin: 0;
  }
  .gif {
    margin: 0;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
}

.gallery {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%;
}
.gif {
  display: flex;
  flex-flow: column;

  border-radius: 3rem;
  padding: 2rem;
  justify-content: center;
}
.gif > h1 {
  margin: 1rem 1rem 0;
}

.gif > p {
  margin: 0.25em 1rem 1rem;
}
.gif > img {
  order: -1;
  align-self: center;
  max-height: 250px;
  max-width: 250px;
  border-radius: 3px;

}
